
{% extends "base.html" %}
{% load static %}
{% block content %}

<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
    
    
    
<style>
    .file {
    visibility: hidden;
    position: absolute;
    }
</style>
<style>
   .overlay {
      background-color:#EFEFEF;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 1000;
      top: 0px;
      left: 0px;
      opacity: .5; /* in FireFox */ 
      filter: alpha(opacity=50); /* in IE */
  }

  .custom-file-upload {
   border: 1px solid #ccc;
   display: inline-block;
   padding: 6px 12px;
   cursor: pointer;
 }
 
</style>
      

<div id="layoutSidenav_content">
   <main>
      <div class="container-fluid px-4">
         <h1 class="mt-4">
            Music Generation
         </h1>
         <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="http://127.0.0.1:8050/" target="_blank">Dashboard</a></li>
            <li class="breadcrumb-item active"> Music Generation using AI </li>
         </ol>
         <div class="card mb-4">
            <div class="card-body">
               <p class="mb-0">
                  Upload file below.<a href="{% static '' %}sample datasets/music_generator.zip" ><button style="float:right" type="submit" class="formbtn">Download Sample Dataset
                  </button></a>
            </div>
         </div>
         <div id="error_div" class="alert alert-primary" style="display:none;" role="alert">
            Please Upload the MID file, File cannot be empty.
         </div>
         
         <div class="card mb-4">
            <div class="card-body">
               <p class="mb-0">
               <div class="heading animated zoomInDown delay-0.5s">
                  <h1>File</h1>
                  <h3>Upload MID File only</h3>
               </div>
               <form  name="form1"  onsubmit="return Spinner()" action="{% url 'music_generation' %}" method="POST" id="image-form" enctype="multipart/form-data" class="uploader">
                  {% csrf_token %}
                  <input id="file-upload"  type="file" id="mid_music" name="mid_music" accept=".MID" / >
                  <label for="file-upload" id="file-drag" class="anim   ated wow zoomInUp delay-1s">
                     <img id="file-image" src="#" alt="Preview" class="hidden">
                     <div id="start">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <div>Upload MID File only</div>
                        <div id="notimage" class="hidden">Please select an image</div>
                        <span id="file-upload-btn" class="btn btn-">Select a file</span>
                        <p id ="file_name" ></p>

                     </div>
                     <div id="spinner_div" class="spinner-border m-5 "  style="display: none;" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                     <div id="response" class="hidden">
                        <div id="messages"></div>
                        <progress class="progress" id="file-progress" value="0">
                        <span>0</span>%
                        </progress>
                        <div class="copyURL">
                           <input type="text" id="myInput" class="formtext" placeholder="File URL" value=" ">
                           <button type="submit" class="formbtn">Submit</button>
                        </div>
                     </div>
                  </label>

                  <button  type="submit" class="formbtn btn-css">Submit</button>
               </form>
            </div>
         </div>
         <br><br>

      {% if music %}
      <div class="row">
         <div class="col-lg-6">
            <div class="card mb-4" style="width:30rem;height:3 0rem;   margin-left: 76px !important;">

               <div class="card-header">
                  Original Music
               </div>
               <div class="card-body" >
                  <midi-player
                  src="{{original_sound.music.url}}"
                  sound-font visualizer="#myVisualizer">
                  </midi-player>               </div>
         </div>
      </div>

         <div class="col-lg-6">
            <div class="card mb-4" style="width:30rem;height:3 0rem;  margin-left: 76px !important;">
               <div class="card-header">
                  <i class="fas fa-chart-pie me-1"></i>
                  Generated Music
               </div>
               <div class="card-body">
                  <midi-player
                  src="{% static '' %}{{music}}"
                  sound-font visualizer="#myVisualizer">
                  </midi-player>
           
               </div>
               {% if custom_object_detection %}

               <div class="card-footer small text-muted">
                  Final Image

               </div>
               {% endif %}

            </div>
         </div>
      </div>
      {% endif %}


      </div>


   </main>
</div>

<script> 
   function Spinner()
   {
   var empt = document.forms["form1"]["mid_music"].value;
   if (empt == "")
   {
   $("#error_div").show();
   
   return false;
   }
   else 
   {
   $("#spinner_div").show();
   var div= document.createElement("div");
    div.className += "overlay";
    document.body.appendChild(div);
   return true; 
   }
   }



   $('#file-upload').change(function() {
      var i = $(this).prev('label').clone();
      var file = $('#file-upload')[0].files[0].name;
      console.log(file)
      $('#file_name').text(file)
    });


   </script>  
   
{% endblock %}

