{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
   .overlay {
      background-color:#EFEFEF;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 1000;
      top: 0px;
      left: 0px;
      opacity: .5; /* in FireFox */ 
      filter: alpha(opacity=50); /* in IE */
  }
</style>
<div id="layoutSidenav_content">
   <main>
      <div class="container-heading-colorfluid px-4">
         <h1 class="mt-4 heading-color">
            Object Classification
         </h1>
         <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a  style="color:#337e50" href="http://127.0.0.1:8050/" target="_blank">Dashboard</a></li>
            <li class="breadcrumb-item active"> X-Ray classification using CNN</li>
         </ol>
    
         {% if not  image_obj %}

         <div class="card card box-shadow  mx-auto my-5 border-color" >
            <h5 class="card-header">Description</h5>
            <div class="card-body card-bg">
               <h5 class="card-title">X-Ray classification using CNN</h5>
               <p class="card-text">This project aims to explore the use of machine learning algorithms for X-ray analysis in the diagnosis of pneumonia, tuberculosis, and Covid-19. The results of this project may have important implications for improving the accuracy and speed of X-ray diagnosis, ultimately leading to better patient outcomes and reduced healthcare costs.<br><br>
                  <b><i>Input</i></b> - The chest X-Ray image
                  <br>
                  <b><i>Output</i></b> - Pneumonia/Tuberculosis/Covid-19/Normal .

                  </p>
            </div>
         </div>

         <div class="card mb-4 card box-shadow mx-auto my-5 border-color">
            <div class="card-body" style="background: #f9f9f9;">
               <p class="mb-0">
                  <a href="{% static '' %}sample datasets/object-classification.zip/" ><button style="float:right" type="submit" class="formbtn">Sample Dataset
                  </button></a>
             
               <form id="file-upload-form" name="form1" onsubmit="return Spinner()" action="{% url 'object_classification' %}" method="POST" id="image-form" enctype="multipart/form-data" class="uploader">
                  {% csrf_token %}
                  <input id="file-upload" type="file"  onchange="DisplayImage(event);ImageFormatValidate();" name="upload_image" accept="image/png, image/JPG, image/jpeg" / >
                  <label for="file-upload" id="file-drag" class="animated wow zoomInUp delay-1s">
                     <img id="file-image" src="#" alt="Preview" class="hidden">
                     <div id="start">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <div>Upload only JPG ad PNG image.</div>
                        <div id="notimage" class="hidden">Please select an image</div>
                        <span id="file-upload-btn" class="btn btn-">Select a file</span>
                        <p><img id="output" width="200" /></p>
                     </div>
                     <div id="spinner_div" class="spinner-border m-5 "  style="display: none;" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      <span id="error_div" style="display: none;color:red;">Please Upload the file, File cannot be empty.</span>
                      <span id="image_error" style="display: none;color:red;">Please Upload the JPG and PNG only</span>
 
                     <div id="response" class="hidden">
                        <div id="messages"></div>
                        <progress class="progress" id="file-progress" value="0">
                        <span>0</span>%
                        </progress>
                        <div class="copyURL">
                           <input type="text" id="myInput" class="formtext" placeholder="File URL" value=" ">
                           <button type="submit" class="formbtn">Submit</button>
                        </div>
                     </div>
                  </label>
                  <button  id="submit-button" onlclick="Spinner()" type="submit" class="formbtn btn-css">Submit</button>
               </form>
            </div>
         </div>
      </div>
      {% endif %}
      
      {% if image_obj %}

      <div class="row ">
         <div class="col-sm-12">
            <a href="{% url 'object_classification' %}"><button type="submit" class="formbtn ">Upload again</button><a/>
         </div>
         <br><br>
         
       <section id="gallery">
         <div class="container-fluid">
           <div class="row">
           <div class="col-lg-6 mb-6">
           <div class="card border-color " >
             <img src="{{image_obj.image.url}}" alt="" class="card-img-top img-size">
             <div class="card-body card-bg">
               <h5 class="card-title card-bg">Uploaded Image</h5>
               <p class="card-text"></p>
             
             </div>
            </div>
           </div>
        
           <div class="col-lg-6 mb-6">
           <div class="card border-color">
            {% if custom_object_detection %}
             <img src="{% static '' %}{{custom_object_detection}}" alt="" class="card-img-top img-size">
           
             {% else %}
             <center>
               <br><br><br><br><br><br>
               <br><br><br><br><br>
                <h3>{{label_name}}</h3>
                <br><br><br><br><br><br><br><br>
                <br><br><br>
             </center>
             <div class="card-body border-color card-bg">

             <h5 class="card-titlecard-bg">Output </h5>
            </div>

             {% endif %}
          

            </div>
           </div>
         </div>
       </div>
       </section>

       {% endif %}


   </main>
</div>

<script> 
   function Spinner()
   {
   var empt = document.forms["form1"]["upload_image"].value;
   if (empt == "")
   {
   $("#error_div").show();

   return false;
   }
   else 
   {
   $("#spinner_div").show();
   $("#error_div").hide();

   var div= document.createElement("div");
      div.className += "overlay";
      document.body.appendChild(div);
   return true; 
   }
   }

</script>  

<script>
   function ImageFormatValidate(){
      let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png'];
      let type = document.getElementById('file-upload').files[0].type;
      if(allowedExtension.indexOf(type)>-1)
      {
         $("#image_error").hide();
         $("#submit-button").prop('disabled',false);
         $("#output").show()
         $("#error_div").hide();



      }else{
         $("#image_error").show();
         $("#submit-button").prop('disabled',true);
         $("#output").hide()
         $("#error_div").hide();

           }
           
      }              
   </script>
  
{% endblock %}


